

*{
  margin: 0;
  padding: 0;

}

.body {
background-image: url("../img/inicio.png");
background-size: contain;/* */
background-repeat: no-repeat;/* para que la imagen no  se repita en la pantalla  */
background-position: center;/* centra imagen*/

width: 250px;/* */
height: 250px;/* */

}


.contenedor {
    width: 100%;/* */
    height: 100%;/* */
    text-align: center;
    padding-top:50 ;
}

 /* Estilo para el botón */



.boton1 {
   
    background-color: #426b87; /*determina el tamaño del boton */
    color: white;/*determina el color de las letras*/
    padding: 10px 20px;/* deterina el tamaño del boton*/
    text-decoration: none; /* le quita el subrayado o  decoración */
    border-radius: 5px; /* hace e boton con forma rectangular sin puntas*/
    position: absolute;/*posiciona el boton dentro de la imagen*/
    margin: 4px 2px;
    font-size: 16px;
    cursor: pointer;/*aparece la manita cuando pasamos sobre el boton */
    padding: 10px 20px;
    text-align: center; /* se centra el boton */
    bottom: -5px; /* esto define la pocision de abajo hacia arriba*/
    transform: translateX(-50%);

}   

/* Cambio de estilo al pasar el mouse sobre el botón */
.boton1:hover {
    background-color: #2980b9;
}


    

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    display: flex;
    justify-content: center;
    background-color: bisque;
    padding: 35px;

    
    width: 90%;
    margin: 100px auto;
}

.container-faq {
    box-shadow: 0 0 15px -1px rgba(0,0,0,.1);
    padding: 30px;
}

.container-faq .title-faq {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.container-faq .item-faq {
    box-shadow: 0 0 15px -1px rgba(0,0,0,.2);
    margin-bottom: 20px;
    border-radius: 10px;
}



.container-faq .item-faq .question {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(43, 51, 122, .2);
    padding: 20px 20px 20px 80px;
    transition: .4s;
}

.container-faq .item-faq .question .more {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px -1px rgba(0,0,0,.2);
    width: 40px;
    height: 40px;
    font-size: 1rem;
    cursor: pointer;
    transition: .4s;
}

.container-faq .item-faq .question .more:hover {
    box-shadow: 0 0 15px -1px rgba(0,0,0,.4);
}

.container-faq .item-faq .question span {
    position: absolute;
    left: 10px;
    font-size: 3rem;
    top: 10px;
    opacity: .1;
}

.container-faq .item-faq .answer {
    position: relative;
    padding: 0 20px 0 80px;
    overflow: hidden;
    height: 0;
    transition: .4s;
}

.container-faq .item-faq .answer p {
    font-size: 1.3rem;
}

.container-faq .item-faq .answer span {
    position: absolute;
    left: 10px;
    font-size: 3rem;
    top: -10px;
    opacity: .2;
}
